* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: clip;
}

.gamemap {
    border: 1px;
    width: 1280px;
    height: auto;
    z-index: -1;
}

.playerInfo {

}

.playerInfo.BLUE {
    color: blue;
}

.playerInfo.RED {
    color: red;

}

.playerInfo.GREEN {
    color: green;
}

.playerInfo.YELLOW {
    color: yellow;
}

.playerInfo.goldcoin {
    width: 16px;
    height: 16px;
}

.playerInfo.money {
    color: white;
}